<!DOCTYPE html>
<html html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>屏幕监控</title>
    <link th:href="@{../../css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{../../css/responsive.css}" rel="stylesheet"/>
    <link th:href="@{../../css/font-awesome.min.css}" rel="stylesheet"/>
    <style>
        .video-window {
            min-width: 350px;
            min-height: 150px;
            background-color: #000;
        }
       .row div {
            border-style: solid;
            border-width: 2px;
            border-color: #cccccc;
        }
    </style>

</head>
<body>

<div class="container-fluid">
    <div class="row" id="screenWindow">
        <div class="col-md-4 video-window" id="playercontainer1">
            <h3>Post Title 1</h3>
            <p>Lorem ipsum dolor sit amet ... </p>
        </div>
        <div class="col-md-4 video-window" id="playercontainer2">
            <h3>Post Title 1</h3>
            <p>Lorem ipsum dolor sit amet ... </p>
        </div>
        <div class="col-md-4 video-window" id="playercontainer3">
            <h3>Post Title 1</h3>
            <p>Lorem ipsum dolor sit amet ... </p>
        </div>
        <div class="col-md-4 video-window" id="playercontainer4">
            <h3>Post Title 1</h3>
            <p>Lorem ipsum dolor sit amet ... </p>
        </div>
        <div class="col-md-4 video-window" id="playercontainer5">
            <h3>Post Title 1</h3>
            <p>Lorem ipsum dolor sit amet ... </p>
        </div>
        <div class="col-md-4 video-window" id="playercontainer6">
            <h3>Post Title 1</h3>
            <p>Lorem ipsum dolor sit amet ... </p>
        </div>
        <div class="col-md-4 video-window" id="playercontainer7">
            <h3>Post Title 1</h3>
            <p>Lorem ipsum dolor sit amet ... </p>
        </div>
        <div class="col-md-4 video-window" id="playercontainer8">
            <h3>Post Title 1</h3>
            <p>Lorem ipsum dolor sit amet ... </p>
        </div>
        <div class="col-md-4 video-window" id="playercontainer9">
            <h3>Post Title 1</h3>
            <p>Lorem ipsum dolor sit amet ... </p>
        </div>
    </div>


    <nav class="navbar navbar-default navbar-fixed-bottom" style="vertical-align: center">
        <button type="button" class="btn btn-primary" id="btnNineColumn">
            <span class="glyphicon glyphicon-th"></span>
        </button>
        <button type="button" class="btn btn-success" id="btnFourColumn">
            <span class="glyphicon glyphicon-th-large"></span>
        </button>
        <button type="button" class="btn btn-info" id="btnOneColumn">
            <span class="glyphicon glyphicon-align-justify"></span>
        </button>
    </nav>
</div>
<script th:src="@{../../libs/jquery.min.js}"></script>
<script th:src="@{../../plugins/cyberplayer/cyberplayer.js}"></script>
<script>
    $(function(){
        // 九宫格
        $("#btnNineColumn").click(function(){
            // 移除所有子节点
            removeChildrenDiv();
            for (var i = 1; i <= 9; i++) {
                createNineDiv(i);
            }
        });

        // 生成宽度为4格的9宫格
        function createNineDiv(i){
            $("#screenWindow").append('<div class="col-md-4 video-window" id="playercontainer'+i+'">' +
                    '<h3>Post Title 1</h3><p>Lorem ipsum dolor sit amet ... </p>' +
                    '</div>');
        }
       // 生成宽度为6格的4宫格
        function createFourDiv(i){
            $("#screenWindow").append('<div class="col-md-6 video-window" id="playercontainer'+i+'">' +
                '<h3>Post Title 1</h3> <p>Lorem ipsum dolor sit amet ... </p>' +
                '</div>');
        }
        // 生成宽度为12格的1宫格
        function createOneDiv(i){
            $("#screenWindow").append('<div class="col-md-12 video-window" id="playercontainer'+i+'">' +
                '<h3>Post Title 1</h3><p>Lorem ipsum dolor sit amet ... </p>' +
                '</div>');
        }
        // 移除所有子节点
        function removeChildrenDiv(){
            $("#screenWindow").empty();
        }


        // 四宫格
        $("#btnFourColumn").click(function(){
            removeChildrenDiv();
            for (var i = 1; i <= 4; i++) {
                createFourDiv(i);
            }
        });
        // 一宫格
        $("#btnOneColumn").click(function(){
            removeChildrenDiv();
            for (var i = 1; i <= 1; i++) {
                createOneDiv(i);
            }
        });
    });

</script>



</body>
</html>